html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}

.content {
  flex-grow: 2;
}

.main {
  position: absolute;
  bottom: 61px;
  top: 68px;
  left: 0;
  width: 100%;
  height: calc(100% - 61px - 68px);
  background: url('../images/background.png') no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  cursor: default;
}
.main__inner {
  height: 100%;
  background: rgba(22, 0, 69, 0.42);
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 100px;
}
.main-inner__nav {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 22px;
}
.main__title {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  line-height: 60px;
  font-size: 48px;
  font-weight: normal;
  width: 350px;
}
.main__about {
  width: 750px;
  color: #FFFFFF;
  font-weight: normal;
  line-height: 30px;
  font-size: 18px;
}
.main__buttons {
  display: flex;
  margin-top: 13px;
}
.button {
  background: #3C1491;
  height: 38px;
  border: 1px solid #3C1491;
  border-radius: 1px;
  color: #fff;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  padding: 9px 15px;
  cursor: pointer;
}
.button_hovered:hover {
  background: #361173;
  border: 1px solid #361173;
}
.button:focus {
  outline: none;
}
.button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2) inset;
}
.button + .button {
  margin-left: 27px;
}
.button_bigger {
  text-align: center;
  padding: 9px 40px;
}
.load-more:disabled {
  background: rgb(162, 162, 162);
  border: 1px solid #949494;
}

.header {
  background-color: #3C1491;
  color: #fff;
}

.header__content {
  display: flex;
  align-items: center;
  height: 68px;
}

.logo {
  display: block;
  background: url('./logo.png') no-repeat;
  width: 45px;
  height: 36px;
  margin-right: auto;
}

.header__link {
  color: #fff;
  line-height: 22px;
  font-size: 18px;
  margin-left: 25px;
  text-decoration: none;
}

.catalog-page {
  margin-top: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  cursor: default;
}
.section-header {
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 46px;
  font-size: 37px;
  font-weight: 600;
}
.sub-header {
  line-height: 30px;
  font-size: 22px;
  padding: 0;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 25px;
}
.catalog__content {
  display: flex;
  margin-top: 10px;
}
.loadMore {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.items-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
#bikeList {
  display: flex;
  justify-content: center;
  flex-basis: 900px;
  margin-bottom: 40px;
}
.bike {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  margin-top: 30px;
}
.bike:nth-of-type(odd) {
  margin-right: 30px;
}
.bike__img-container {
  height: 180px;
}
.bike__img {
  box-sizing: border-box;
  width: 250px;
  max-height: 250px;
  border: 1px solid #CECECE;
}
.bike__name {
  display: block;
  width: 370px;
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
  height: 50px;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
}
.bike__name:hover {
  text-decoration: underline;
}
.bike__cost {
  box-sizing: border-box;
  line-height: 20px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 600;
  font-style: normal;
}

.pointsList {
  list-style: none;
  padding: 0;
  margin: 0;
}
.active {
  position: relative;
}
.active::before {
  position: absolute;
  left: -20px;
  top: 25%;
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #3C1491;
}
.point {
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
}
.point:not(:last-of-type){
  margin-bottom: 15px;
}
.point__link {
  text-decoration: none;
  color: #333;
}

.footer {
  height: 61px;
  background-color: #3C1491;
  color: #fff;
}

.copyright {
  margin: 20px 0 0;
  line-height: 20px;
  font-size: 14px;
}

.hidden {
  display: none !important;
}

#mapContainer {
  min-width: 900px;
  width: 100%;
  max-width: 1170px;
  height: 600px;
  margin-top: 40px;
}
.balloon-container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  margin: 20px 70px 20px 20px;

  line-height: 24px;
  font-size: 16px;
  font-weight: 500;
}
.button_a {
  margin-top: 20px;
  width: 200px;
}
.card-req-button {
  padding: 9px 22px;
}

.card-req {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}
.card-req__input-area {
  margin-bottom: 20px;
  margin-top: 40px;
}
.input-block{
  margin-bottom: 20px;
}
.input-container {
  display: flex;
}
.label {
  display: block;
}
.error-container {
  position: relative;
  margin-left: 16px;
}
.error-tooltip {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #E30000;
  width: 250px;
  height: 50px;
  padding: 5px 20px;
  background: white;
  position: absolute;
  top: -14%;
  left: 100%;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.error-tooltip::before {
  position: absolute;
  top: 35%;
  left: -16px;
  content: '';
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-right: 17px solid white;
  border-bottom: 8px solid transparent;
  z-index: 1;
}
.error-tooltip::after {
  position: absolute;
  content: '';
  top: 35%;
  left: -16px;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 19px solid rgba(0, 0, 0, 0.1);;
  border-bottom: 10px solid transparent;
  z-index: -1;

}
.input {
  width: 370px;
  line-height: 20px;
  padding: 10px;
  border: 1px solid #CECECE;
  font-size: 17px;
}
.label {
  margin-bottom: 5px;
  line-height: 26px;
  font-size: 18px;
  font-weight: 600;
}
.login {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  align-items: center;
}


