{{> header}}
	<div class="card-req">
    <h3 class="section-header">Реквизиты карты</h3>
    <form class="card-req__input-area" id="card-req__input-area">
      <div class="input-block">
        <label for="card-num" class="label">Номер карты</label>
        <div class="input-container">
          <input type="text" class="input" id="card-num" name="card-num">
          <div class="error-container">
            <div class="error-tooltip hidden" id="error-1"></div>
          </div>
        </div>
      </div>
      <div class="input-block">
        <label for="validity" class="label">Срок действия</label>
        <input type="text" class="input" id="validity" name="validity">
      </div>
      <div class="input-block">
        <label for="cvv" class="label">CVV</label>
        <input type="text" class="input" id="cvv" name="cvv">
      </div>
      <button id="submit-card-req" class="button button_hovered" onclick="return false;">Сохранить</button>
    </form>
  </div>
<script src="../js/card-requisites.js"></script>
{{> footer}}
