{{> header}}
<div>
  <!--
    При помощи шаблонизатора mustache выведи заголовок каталога.
    Если выбран пункт проката, то в переменной pointInfo будет информация о выбранном пункте
    и в таком случае заголовок должен быть таким <h3>Каталог велосипедов по адресу %адрес пункта%</h3>
    если пункт не выбран, то такой заголовок <h3>Каталог велосипедов</h3>
  -->
  <h3>Каталог велосипедов {{#pointInfo}}по адресу {{pointInfo.address}}{{/pointInfo}}</h3>

  <div>
    <div id="bikeList">
      <!-- Здесь необходимо отобразить карточки велосипедов -->

    </div>
    <div>
      <ul>
        <!--
          При помощи шаблонизатора mustache выведи пункты проката из массива pointersList
          <li><a href="/catalog/ID пункта">Адрес пункта</a></li>
          А если у пункта есть флаг isActive, то в списке пометить его
          <li class="active"><a href="/catalog/ID пункта">Адрес пункта</a></li>
        -->
        {{#pointersList}}
          <li class="{{#isActive}}active{{/isActive}}"><a href="/catalog/{{_id}}">{{address}}</a></li>
        {{/pointersList}}
      </ul>
    </div>
  </div>

  <div id="loadMore" class="hidden">
    <button type="button">Загрузить ещё</button>
  </div>

  <script src="../js/api.js"></script>
  <script src="../js/catalog.js"></script>
</div>
{{> footer}}
