{{> header}}
  <div class="main">
    <div class="main__inner">
      <div class="main-inner__nav container">
        <h1 class="main__title">
          Сервис аренды велосипедов
        </h1>
        <div class="main__about">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse blanditiis illo aperiam voluptatibus at nobis impedit illum deserunt vero commodi voluptate optio excepturi quidem nostrum laboriosam hic quas voluptas, ut!
        </div>
        <div class="main__buttons">
          <button class="button button_hovered" onclick="window.location.href='/catalog'">Арендовать велосипед</button>
          <button class="button button_hovered" onclick="window.location.href='/map'">Найти пункт выдачи</button>
        </div>
      </div>
    </div>
  </div>
{{> footer}}
