{{> header}}
<div class="login">
  <h3 class="section-header">Регистрация</h3>
  <form method="post" class="auth-form">
    <div class="input-block">
      <label for="login" class="label">Логин</label>
      <input type="text" class="input" id="login" name="login" value="{{ login }}">
    </div>

    <div class="input-block">
      <label for="password1" class="label">Пароль</label>
      <input type="password" class="input" id="password1" name="password1">
    </div>

    <div class="input-block">
      <label for="password2" class="label">Повторите пароль</label>
      <input type="password" class="input" id="password2" name="password2">
    </div>

    {{#notEqualPasswordsError}}
    <p class="auth-error">
      Пароли не совпадают
    </p>
    {{/notEqualPasswordsError}}
    {{#isEmptyValuesError}}
    <p class="auth-error">
      Заполните все поля
    </p>
    {{/isEmptyValuesError}}
    <button type="submit" class="button button_hovered reg-button">Зарегистрироваться</button>
    <a href="/login" class="link">или войти</a>
  </form>
</div>
{{> footer}}
